body {
  padding-top : 50px;
}

.table tbody>tr>td.vert-align
{
  vertical-align: middle;
}

.vcenter {
    display: inline-block;
    vertical-align: middle;
    float: none;
}

.form-text {
    margin-top:0;
    margin-bottom:0;
    padding-top:7px;
}
